/* credit: https://codepen.io/wanni/pen/zsDJb?editors=1100 */

  header {
    padding: 30px;
  }

  body {
    background-color: black;
  }

  *{
    color: white;
  }

  #content {
    left: 450px;
    bottom: 580px;
    position: relative;
    width:800px;
    height: 600px;
    /* border: 2px solid black; */
    /* background-color: #e6e2e2; */
  }

.menu {
    background-color: #e2e2e2;
    width: 400px;
    height: 600px;
    margin: 0px;
} 

/* define a fixed width for the entire menu */
.navigation {
  background-color: #e2e2e2;
  margin-top: 0px;
  padding: 50px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #e2e2e2;
  text-decoration: none;
  padding: 20px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
  color:orangered;
  font-weight: bold;

}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  color: black;
}

/* hover behaviour for links inside .submenu */
/* .submenu a:hover {
  background-color: #C5C5C5;
} */

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  margin-left: 10px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.9s ease-out;
}

#email {
  color: orangered;
  text-decoration: none;

}
span {
  color: orangered;
}

#pic {
  width: 250px;
  height: 250px;
  padding: 20px;
}

#poster {
  padding: 50px;
}





 